server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: false

      routes:
        # User Service
        - id: user-service
          uri: http://user-service:8081
#          uri: http://localhost:8091
          predicates:
            - Path=/api/users/**

        # Product Service
        - id: product-service
          uri: http://product-service:8082
#          uri: http://localhost:8092
          predicates:
            - Path=/api/products/**

        # Order Service
        - id: order-service
          uri: http://order-service:8083
#          uri: http://localhost:8093
          predicates:
            - Path=/api/orders/**

        # Notification Service
        - id: notification-service
          uri: http://notification-service:8084
          predicates:
            - Path=/api/notifications/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.oneandtwoshop.gatewayService: DEBUG