name: OneAndTwoShop Dev CI/CD

permissions:
  contents: write
  packages: write

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Maven
        run: mvn -e -X -B -DskipTests clean package

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker images
        run: |
          docker build -t ghcr.io/marszheng-1991/oneshop-user:dev --target user .
          docker build -t ghcr.io/marszheng-1991/oneshop-product:dev --target product .
          docker build -t ghcr.io/marszheng-1991/oneshop-order:dev --target order .
          docker build -t ghcr.io/marszheng-1991/oneshop-gateway:dev --target gateway .

      - name: Push Docker images
        run: |
          docker push ghcr.io/marszheng-1991/oneshop-user:dev
          docker push ghcr.io/marszheng-1991/oneshop-product:dev
          docker push ghcr.io/marszheng-1991/oneshop-order:dev
          docker push ghcr.io/marszheng-1991/oneshop-gateway:dev